<template>
  <div class="flex w-full justify-center bg-[#202123] px-8 py-3">
    <div class="container flex justify-between items-center">
      <div class="capitalize text-white text-lg">Unsaved product</div>
      <div class="space-x-4">
        <button class="rounded border border-white px-6 py-2 text-white">
          Discard
        </button>
        <button class="rounded bg-[#008060] px-6 py-2 text-white">
          Save
        </button>
      </div>
    </div>
  </div>
</template>