<template>
  <div class="w-full space-y-12 md:col-span-2">
    <Card>
      <div class="space-y-4">
        <div class="space-y-2">
          <h5>Title</h5>
          <input
            type="text"
            class="w-full appearance-none rounded-lg border p-3"
            placeholder="Short sleeve t-shirt"
          />
        </div>
        <div class="h-60 space-y-2">
          <h5>Description</h5>
          <Textarea v-model="form.description" class="w-full h-48 border rounded-lg" />
        </div>
      </div>
    </Card>
    <Card>
      <div class="divide-y">
        <div class="space-y-4">
          <h5 class="text-lg font-semibold">Inventory</h5>
          <label for="qty" class="flex items-center gap-2 py-2"
            ><input
              type="checkbox"
              class="h-6 w-6 rounded border-gray-300 bg-gray-100 text-blue-600"
              name="qty"
              v-model="form.useQty"
              :checked="form.useQty"
              @change="() => resetQty()"
            />
            <span>Track quantity</span></label
          >
        </div>
        <div class="space-y-4 py-6" v-if="form.useQty">
          <div class="flex items-center justify-between">
            <div class="font-semibold">Quantity</div>
            <input
              type="number"
              class="rounded border p-2 outline-none focus:border-blue-600"
              v-model="form.qty"
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="font-semibold">Low Quantity Warning</div>
            <input
              type="number"
              class="rounded border p-2 outline-none focus:border-blue-600"
              v-model="form.qtyWarning"
            />
          </div>
        </div>
        <div class="space-y-4 py-4">
          <div class="space-y-4">
            <h5 class="text-lg font-semibold">Inventory</h5>
            <label for="qty" class="flex items-center gap-2 py-2"
              ><input
                type="checkbox"
                class="h-6 w-6 rounded border-gray-300 bg-gray-100 text-blue-600"
                name="qty"
                v-model="form.useSku"
                :checked="form.useSku"
                @change="() => resetSku()"
              />
              <span>This product has a SKU or barcode</span></label
            >
          </div>
          <div class="flex gap-6" v-if="form.useSku">
            <div class="w-full">
              <div>
                <label for="">SKU (Stock Keeping Unit)</label>
              </div>
              <input
                type="text"
                class="w-full rounded border p-2 outline-none focus:border-blue-600"
                v-model="form.sku"
              />
            </div>
            <div class="w-full">
              <div class="w-full">
                <label for=""
                  >Barcode (ISBN, UPC, GTIN, etc.) {{ form.barcode }}</label
                >
              </div>
              <input
                type="text"
                class="w-full rounded border p-2 outline-none focus:border-blue-600"
                v-model="form.barcode"
              />
            </div>
          </div>
        </div>
      </div>
    </Card>
  </div>
</template>


<script>
export default {
  data() {
    return {
      form: {
        description: null,
        useQty: false,
        useSku: false,
        qty: 0,
        qtyWarning: 0,
        sku: null,
        barcode: null,
      },
    };
  },
  methods: {
    resetQty() {
      if (!this.form.useQty) {
        (this.form.qty = 0), (this.form.qtyWarning = 0);
      }
    },
    resetSku() {
      if (!this.form.useSku) {
        (this.form.sku = null), (this.form.barcode = null);
      }
    },
  },
};
</script>
