<template>
  <div class="w-full">
    <Card>
      <div class="pb-6 text-lg font-semibold">Product organization</div>
      <div class="space-y-4">
        <div>
          <div>Product category</div>
          <select
            class="w-full appearance-none rounded border bg-transparent px-2 py-1 outline-none"
            v-model="category"
            :value="category"
          >
            <template v-for="(item, index) in options" :key="index">
              <option :value="item.name">{{ item.name }}</option>
            </template>
            <option
              @click="
                () => {
                  handleShowModal();
                  this.category = null;
                }
              "
              class="text-blue-400"
            >
              Add Another Category
            </option>
          </select>
        </div>
        <div>
          <div>Product Brand</div>
          <input
            type="text"
            class="w-full rounded border px-2 py-1 outline-none"
            placeholder="e.g., T-Shirt"
          />
        </div>
        <div>
          <div>Collections</div>
          <input
            type="text"
            class="w-full rounded border px-2 py-1 outline-none"
          />
        </div>
        <div>
          <div class="flex w-full justify-between">
            <p>Tags</p>
            <p class="text-blue-400">Manage</p>
          </div>
          <vue3-tags-input
            :tags="tags"
            placeholder="enter some tags"
            @on-tags-changed="handleChangeTag"
          />
        </div>
      </div>
    </Card>
    <Modal v-if="showModal" :modalWidth="'w-[580px]'">
      <template #header>
        <div class="font-semibold">Add Category</div>
      </template>
      <template #body>
        <div class="w-full space-y-4 p-4">
          <div>
            <div class="text-red-400">Category Name*</div>
            <input
              type="text"
              class="w-full rounded border p-2 outline-none focus:border-secondary"
              v-model="categoryForm.name"
            />
          </div>
          <div>
            <div>Parent Category</div>
            <input
              type="text"
              class="w-full rounded border p-2 outline-none focus:border-secondary"
              v-model="categoryForm.parent"
            />
          </div>
          <div>
            <div>Category Banner (200 x 200)</div>
            <div
              class="flex h-40 w-full flex-col items-center justify-center border-2 border-dashed"
            >
              <div class="flex items-center gap-2">
                <label
                  for="addBanner"
                  class="cursor-pointer rounded bg-blue-200 px-2 py-1 text-blue-600"
                >
                  <input
                    type="file"
                    name="addBanner"
                    id="addBanner"
                    class="hidden"
                    @change="
                      (event) => (categoryForm.banner = event.target.files[0])
                    "
                    accept="image/png, image/jpeg, image/jpg"
                  />
                  <span class="select-none">Add files</span>
                </label>
                <a href="#" class="text-blue-600 underline">Add from URL</a>
              </div>
              <div v-if="categoryForm.banner">
                {{ categoryForm.banner.name }}
              </div>
            </div>
          </div>
          <div>
            <div>Category Icon (32 x 32)</div>
            <div
              class="flex h-40 w-full flex-col items-center justify-center border-2 border-dashed"
            >
              <div class="flex items-center gap-2">
                <label
                  for="addIcon"
                  class="cursor-pointer rounded bg-blue-200 px-2 py-1 text-blue-600"
                >
                  <input
                    type="file"
                    name="addIcon"
                    id="addIcon"
                    class="hidden"
                    @change="
                      (event) => (categoryForm.icon = event.target.files[0])
                    "
                    accept="image/png, image/jpeg, image/jpg"
                  />
                  <span class="select-none">Add files</span>
                </label>
                <a href="#" class="text-blue-600 underline">Add from URL</a>
              </div>
              <div v-if="categoryForm.icon">
                {{ categoryForm.icon.name }}
              </div>
            </div>
          </div>
        </div>
      </template>
      <template #footer>
        <div class="flex w-full justify-end gap-2">
          <button
            class="rounded border px-4 py-2"
            @click="() => handleShowModal()"
          >
            Cancel
          </button>
          <button
            class="rounded bg-green-600 px-4 py-2 text-white"
            @click="
              () => {
                handleAddCategory(categoryForm);
              }
            "
          >
            Save
          </button>
        </div>
      </template>
    </Modal>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import Vue3TagsInput from "vue3-tags-input";
import Modal from "./Modal.vue";

export default defineComponent({
  name: "BasicExample",
  components: {
    Vue3TagsInput,
    Modal,
  },

  data() {
    return {
      tags: [],
      options: [
        {
          name: "test",
          parent: null,
          banner: null,
          icon: null,
        },
      ],
      category: null,
      showModal: false,
      categoryForm: {
        name: null,
        parent: null,
        banner: null,
        icon: undefined,
      },
    };
  },
  methods: {
    handleShowModal() {
      this.categoryForm = {
        name: null,
        parent: null,
        banner: null,
        icon: undefined,
      };
      return (this.showModal = !this.showModal);
    },
    handleAddCategory(value) {
      if (!value.name) {
        alert("name is required");
        return false;
      } else {
        console.log(value);
        this.category = value.name;
        this.options.push(value);
        this.handleShowModal();
      }
    },
    handleChangeTag(tags) {
      this.tags = tags;
    },
  },
});
</script>